textarea {
    min-height: 400px;
}
.color-archive{
    background: red;
}
.color-unarchive{
    background: rgb(179, 212, 233);
}
.color-read{
    background: green;
}
.color-notread{
    background: grey;
}
.color-unread-bg{
    background: white;
}
.color-read-bg{
    background: lightgray;
}
