textarea {
    min-height: 400px;
}
.color-archive{
    background: red;
}
.color-unarchive{
    background: rgb(179, 212, 233);
}
.color-read{
    background: lightgray;
}
.color-notread{
    background: white;
}