{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 xmlns="http://www.w3.org/1999/html" class="current_user_email">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>
     <div id="heading"></div>
    <div id="emails-view">
    </div>
    <div id="email-detail-view">
        <div id="#emailId"></div>
        <div id="#from"></div>
        <br/>
        <div id="#to"></div>
        <br/>
        <div id="#subject"></div>
        <br/>
        <div id="#timestamp"></div>
        <br/>
        <div id="#body"></div>
        <br/>
        <input type="checkbox" id="isreadcheckbox" name="isreadcheckbox" value="read"/>
        <label for="isreadcheckbox"> Is Read</label>
        <br/>
        <button class="btn btn-sm btn-outline-primary" id="replyId">Reply</button>
        <button class="btn btn-sm btn-outline-primary" id="archiveId">Archive</button>
    </div>

    <div id="compose-view">
        <div id="message"></div>
        <h3 id="compose_heading">New Email</h3>
        <form id="compose-form">

            <div class="form-group">
                <label>From:</label>
                <input disabled class="form-control" id="#compose-sender" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                <label>To:</label>
                <input id="#compose-recipients" name="recipients" class="form-control">
            </div>
            <div class="form-group">
                <label>Subject:</label>
                <input class="form-control" id="#compose-subject" name="subject" placeholder="Subject">
            </div>
            <label>Body:</label>
            <textarea class="form-control" id="#compose-body" placeholder="Body" name="body"></textarea>
            <button type="submit" class="btn btn-primary"> Submit </button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/inbox.js' %}"></script>
{% endblock %}
